/* App.css */
.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.loading-container {
  margin-top: 50px;
  font-size: 1.2em;
  color: #555;
}

.auth-container, .chat-container {
  margin-top: 50px;
}

button {
  padding: 10px 20px;
  background-color: #1db954;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #1ed760;
}

/* App.css */
.playlist-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #1db954; /* Verde do Spotify */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.1em;
  transition: background-color 0.3s ease;
}

.playlist-button:hover {
  background-color: #1ed760; /* Verde mais claro do Spotify */
}

/* App.css */
.playlist-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #1db954; /* Verde do Spotify */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.1em;
  transition: background-color 0.3s ease;
}

.playlist-button:hover {
  background-color: #1ed760; /* Verde mais claro do Spotify */
}